{% extends 'base.html' %}

{% block title %}
  Ваш кошик порожній
{% endblock %}

{% block content %}
  <h4>Ваш кошик товарів</h4>
  <div class="row">
    <table class="cart u-full-width">
      <thead>
        <tr>
          <th>Зображення</th>
          <th>Продукт</th>
          <th>К-сть</th>
          <th>Видалити</th>
          <th>Ціна</th>
          <th>Вартість</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          {% with product=item.product %}
            <tr>
              <td>
                <a href="{{ product.get_absolute_url }}">
                  <img src="{{ product.main_image.url }}" alt="" />
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                  {% csrf_token %}
                  {{ item.update_quantity_form.quantity }}<br>
                  {{ item.update_quantity_form.update }}
                  <input type="submit" value="Оновити">
                </form>
              </td>
              <td><a href="{% url 'cart:cart_remove' product.id %}">Видалити</a></td>
              <td>{{ item.price }} грн.</td>
              <td>{{ item.total_price }} грн.</td>
            </tr>
          {% endwith %}
        {% endfor %}
          <tr class="total">
            <td>Загалом</td>
            <td colspan="4"></td>
            <td>{{ cart.get_total_price }} грн.</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="four columns">
      <a href="{% url 'shop:product_list' %}" class="button u-full-width">Продовжити</a>
    </div>
    <div class="four columns">
      <a href="{% url 'orders:order_create' %}" class="button button-primary u-full-width">Оформити замовлення</a>
    </div>
    <div class="four columns">
      <a href="{% url 'cart:cart_clear' %}" class="button u-full-width">Очистити кошик</a>
    </div>
  </div>
{% endblock %}
