  <div class="row">
    <h5 class="three columns">Категорії</h5>
    <nav id="primary_nav_wrap" class="nine columns">
      <ul>
        <li class="{% if not category %}current-menu-item{% endif %}">
          <a href="{% url 'shop:product_list' %}">Всі</a>
        </li>
        {% for cat in categories %}
          {% if not cat.has_parent_category %}
            <li>
              <a class="{% if category.slug == cat.slug %}selected{% endif %}"
                 href="{{ cat.get_absolute_url }}">{{ cat }}</a>
              {% if cat.subcategories %}
              <ul>
                {% for cat_ in cat.subcategories %}
                <li><a href="{{ cat_.get_absolute_url }}">{{ cat_ }}</a>
                  {%if cat_.subcategories %}
                  <ul>
                    {% for cat__ in cat_.subcategories %}
                    <li><a href="{{ cat__.get_absolute_url }}">{{ cat__ }}</a></li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>