{% extends 'base.html' %}

{% load i18n %}

{% load form_filters %}

{% block title %}
  Логін
{% endblock title %}

{% block content %}
<section class="container" id="main">
  <div class="wrapper">
    <div class="row">
      <div class="offset-by-two ten columns">
        <h4>{% trans 'Log in' %}</h4>
      </div>
    </div>
    <form action="{% url 'accounts:login' %}" method="post"
          id="main-form" class="form">
      {% csrf_token %}

      {{ form.non_field_errors }}

      {% for field in form.visible_fields %}
      <div class="row">
        <div class="two columns">{{ field.label_tag }}</div>
        <div class="seven columns">{{ field|addclass:"u-full-width" }}</div>
        <div class="three columns error">{{ field.errors }}</div>
      </div>
      {% endfor %}
      <div class="row">
        <div class="offset-by-two three columns">
          <input type="submit"
                 class="button button-primary u-full-width"
                 value="{% trans 'Log in' %}">
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock content %}

{% block contacts %}{% endblock contacts %}