@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('../fonts/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('../fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('../fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

body {font-family: 'Fantasque Sans Mono';}

.selected a {color: #868e96;}

.categories a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.categories li {display: inline;}

table img {width: 250px;}

.images {
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 4px;
}

form.form {
  margin-top: 10rem;
}

.error {color: #f03e3e;}
.error li {list-style-type: none;}

/* --- DROPDOWN MENU --- */
#primary_nav_wrap {margin-top: 15px;}

#primary_nav_wrap ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a {
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

	text-transform: uppercase;
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item {background: #ddd;}

#primary_nav_wrap ul li:hover {background: #15aabf;}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li {
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a {
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul {
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul {
	display:block
}