@import 'open-color.css';

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('../fonts/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('../fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('../fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

body {font-family: 'Fantasque Sans Mono';}

a {
    text-decoration: none;
}

img {
    border-radius: 4px;
}

.container {
    background-color: var(--oc-gray-2);
    width: 1440px;
    max-width: 98%;
    margin: 0 auto 30px auto;
    border-radius: 5px;
}

#top,
#bottom {
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
}

#bottom {
    margin-top: -25px;
}

#main_menu {
    margin-top: 10px;
    padding: 10px 0;
}

#hero {
    display: block;
    height: 500px;
    position: relative;
    background-image: url('../../../media/hero-image/daniel-leone-185834_.jpg');
    background-size: cover;
}

.motto {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--oc-gray-0);
}

.motto h1 {
    text-transform: uppercase;
}

#main, #contacts, #footer {
    padding-top: 15px;
}

.wrapper {
    width: 1180px;
    max-width: 95%;
    margin: 0 auto;
}

.copyright {
    text-align: center;
}

.categories a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.categories li {display: inline;}

table img {width: 250px;}

.images {
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 4px;
}

.error {color: var(--oc-red-7);}
.error li {list-style-type: none;}

#contact-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact-form input[type="email"],
#contact-form input[type="text"] {
    width: 48%;
}

input, textarea, select {
    font-family: 'Fantasque Sans Mono';
}

.current-menu-item a {
    color: var(--oc-cyan-9);
}

.slider {
	box-sizing: border-box;
}

.title {

	width: 100%;
	display: block;
	/*padding: 20px 0 25px;*/
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;

}

.title .background {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.35;
  background-color: white;
}

.title h2 {
	margin: 0;
	padding: 0;
	line-height: 1em;
}
.title .dark {
	padding: 0 10px;
	z-index: 2;
	position: relative;
	letter-spacing: 1;
	line-height: 1.4em;
}
