@import 'open-color.css';

@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('../fonts/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('../fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('../fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

body {font-family: 'Fantasque Sans Mono';}

a {
    text-decoration: none;
}

.container {
    background-color: var(--oc-gray-2);
    width: 1440px;
    max-width: 95%;
    margin: 0 auto 30px auto;
    border-radius: 5px;
}

#top {
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
}

#main {
    margin-top: 10px;
    padding: 10px 0;
}

.wrapper {
    width: 1180px;
    max-width: 95%;
    margin: 0 auto;
}

.categories a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.categories li {display: inline;}

table img {width: 250px;}

.images {
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 4px;
}

form.form {
  margin-top: 10rem;
}

.error {color: var(--oc-red-7);}
.error li {list-style-type: none;}
