{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
  Налаштування сайту
{% endblock %}

{% block content %}
<section class="container" id="main">
  <div class="wrapper">
    {% for category in categories %}
      {% if not category.has_parent_category %}
        {{ category }}
        <a href="{% url 'staff_area:category_update' category.slug %}">
          | {% trans 'Edit' %}
        </a><br>
        {% for category_ in category.subcategories %}
          &nbsp;&nbsp;&nbsp;&nbsp; {{ category_ }}
          <a href="{% url 'staff_area:category_update' category_.slug %}">
            | {% trans 'Edit' %}
          </a><br>
          {% for category__ in category_.subcategories %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ category__ }}
            <a href="{% url 'staff_area:category_update' category__.slug %}">
              | {% trans 'Edit' %}
            </a><br>
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% for product in products %}
    <hr>
    <div class="row">
      <div class="two columns">
        <img src="{{ product.main_image.url }}"
             class="u-max-full-width">
      </div>
      <div class="four columns">
        <p>{{ product.name }}</p>
        {{ product.model_name }}
      </div>
      <div class="four columns">
        Категорія: {{ product.category }}
        <p>Виробник: {{ product.manufacturer}}</p>
        Ціна, грн: {{ product.price }}
      </div>
    </div>
    {% endfor %}

    <hr>
    <a href="{% url 'staff_area:category_create' %}">Створити категорію</a>
  </div>
</section>
{% endblock %}

{% block contacts %}{% endblock contacts %}
