{% extends 'base.html' %}

{% load static %}
{% load form_filters %}

{% block title %}
  Додати категорію
{% endblock %}

{% block content %}
<form id="category_form" method="post" action="" enctype="multipart/form-data">

  {% csrf_token %}

  {% include "_includes/render_fields.html" with form_fields=form only %}

  <div class="row">
    <div class="offset-by-two three columns">
      <input type="submit" class="button button-primary" value="Додати">
    </div>
  </div>
</form>
{% endblock %}