{% extends 'base.html' %}

{% load static %}
{% load form_filters %}

{% block title %}
  Додати продукт
{% endblock %}

{% block content %}
<form id="product_form" method="post" action="" enctype="multipart/form-data">

  {% csrf_token %}
  {% for hidden in product_form.hidden_fields %}
      {{ hidden }}
  {% endfor %}

  {% include "_includes/render_fields.html" with form_fields=product_form.visible_fields only %}

  {{ formset.management_form }}
  {% for form in formset %}
      {% include "_includes/render_fields.html" with form_fields=form only %}
  {% endfor %}

  <div class="row">
    <div class="offset-by-two three columns">
      <input type="submit" class="button button-primary" value="Додати">
    </div>
  </div>
</form>
{% endblock %}
