{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% load form_filters %}

{% block title %}
  {% trans 'Search results' %}
{% endblock title %}

{% block content %}
<section class="container" id="search-form">
  <div class="wrapper">
    <form action="" method="get" id="main-form" class="form">
      <div class="row">
        <div class="two columns">{% trans 'Search:' %}</div>
        <div class="seven columns">{{ form.q|addclass:"u-full-width" }}</div>
      </div>
      <div class="row">
        <div class="offset-by-two three columns">
          <input type="submit"
                 class="button button-primary u-full-width"
                 value="{% trans 'Search' %}">
        </div>
      </div>
    </form>
  </div>
</section>

<section class="container" id="main">
  <div class="wrapper">
    <h4>{% trans 'Search results' %}</h4>
    <div class="row">
      {% for result in page.object_list %}
      <div class="three columns">
        <a href="{{ result.object.get_absolute_url }}">
          <img src="{% if result.object.main_image %}{{ result.object.main_image.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}"
               class="u-max-full-width">
        </a>
        <a href="{{ result.object.get_absolute_url }}">
          {{ result.object.name }}<br>{{ result.object.model_name }}</a><br>
        <p style="text-align: right;">{{ result.object.price }} грн.</p>
      </div>
      {% if forloop.counter|divisibleby:"4" %}
    </div>
    <div class="row">
      {% endif %}
      {% empty %}
        {% trans 'No results found.' %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}