{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}
  <div class="row">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}">
  </div>
  <div class="row">
    <h3>{{ product.name }} {{ product.model_name }}</h3>
    <h3><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h3>
    <p class="price">
      {{ product.price }} грн.
    </p>
    <form action="{% url 'cart:cart_add' product.id %}" method="post">
      {% csrf_token %}
      {{ cart_product_form }}
      <input type="submit" value="Додати в кошик">
    </form>
    <span>
      {{ product.description | linebreaks}}
    </span>
  </div>
{% endblock %}