{% extends 'base.html' %}

{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.3/css/justifiedGallery.min.css" />
{% endblock %}

{% block content %}
<section class="container" id="main">
  <div class="wrapper">
    <div class="row">
      <div class="six columns">
        <h5>
        {% if product.category.has_parent_category %}
        <a href="{{ product.category.parent_category.get_absolute_url }}">
          {{ product.category.parent_category }}
        </a> > {% endif %}
        <a href="{{ product.category.get_absolute_url }}">
          {{ product.category }}
        </a></h5>
        <img class="u-max-full-width" src="{% if product.main_image %}{{ product.main_image.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}">
      </div>
      <div class="six columns">
        <h5>{{ product.name }}</h5>
        <h5>{{ product.model_name }}</h5>
        <a href="{% url 'staff_area:product_update' product.slug %}">Edit</a>
        <p class="price">
          {{ product.price }} грн.
        </p>
        <form action="{% url 'cart:add_product' product.id %}" method="post"
              id="main-form">
          {% csrf_token %}
          {{ cart_product_form }}
          <input type="submit" value="Додати в кошик">
        </form>
      </div>
    </div>
    <div class="row">
      <span>
        {{ product.description | linebreaks}}
      </span>
    </div>
  </div>
</section>

{% if images %}
<section class="container">
  <div class="wrapper">
    <div id="gallery">
      {% for image in images %}
      <div><img src="{{ image.url }}"></div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.3/js/jquery.justifiedGallery.min.js"></script>
<script>
  $(document).ready(function() {
    $("#gallery").justifiedGallery({
      rowHeight: 500,
			captions: false,
			margins: 10,
    });
  });
</script>
{% endblock %}
