{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title%}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Styles -->
  <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css />
  <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/skeleton.css' %}" />
  <link rel="stylesheet" href="{{ PORTAL_URL }}{% static 'css/main.css' %}" />
  {% block extra_css %}{% endblock extra_css %}
</head>
<body style="background-image: url({% static 'img/02.png' %});">
  <section class="container">
    <div class="row top">
      <div class="two columns">
        <a href="{% url 'shop:product_list' %}">
          <img src="{% static 'img/logo.png' %}">
        </a>
      </div>
      <div class="ten columns">
        <div class="cart u-pull-right">
          {% with total_items=cart|length %}
          {% if total_items > 0 %}
            Ваш кошик: <a href="{% url 'cart:cart_detail' %}">
          {{ total_items }} тов. {{ cart.get_total_price }} грн.
            </a>
          {% else %}
            | Кошик порожній
          {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </section>
  <section class="container">
    {% block content %}{% endblock %}
  </section>
</body>
</html>
