{% extends 'base.html' %}

{% load static %}
{% load form_filters %}

{% block title %}
  Додати купон
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/datepicker.min.css' %}" />
{% endblock extra_css %}

{% block content %}
<section class="container" id="main">
  <div class="wrapper">
    <form id="coupon_form" method="post" action="">

      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}

      {% include "_includes/render_fields.html" with form_fields=form.visible_fields only %}

      <div class="row">
        <div class="offset-by-two three columns">
          <input type="submit" class="button button-primary" value="Додати">
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
  <script src="{% static 'js/datepicker.min.js' %}"></script>
  <script src="{% static 'js/datefields.js' %}"></script>
{% endblock extra_js %}